@page "/UnitPage"
@inherits BaseCrud<Units>
@attribute [Authorize]

<div class="d-flex">
    <div class="">
        <div class="h5">Единицы измерения </div>
    </div>
    @*<div class="">
        <RadzenCheckBox @bind-Value="IsResponsive" TriState="false" Name="CheckBox1" />
        <RadzenLabel Text="Режим поиска" Component="CheckBox1" Style="margin-left: 5px;margin-bottom: 20px" />

    </div>*@
</div>
<RadzenPanel AllowCollapse="true" Collapsed="true">
    <ChildContent>
        <RadzenTemplateForm TItem="Units" Data="dataform" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <RadzenLabel Text="Имя" />
                        <br />
                        <RadzenTextBox Style="width:100%" Name="@nameof(Units.Name)" @bind-Value="dataform.Name" />
                        <br />
                        <RadzenRequiredValidator Component="@nameof(Units.Name)" Popup="false" Text="Значение должно быть заполнено!" />
                        <RadzenRegexValidator Component="@nameof(Units.Name)" Text="Есть пробел в начале" Pattern="@(@"(^\S+[\s\S]*)+$")" />
                    </div>
                    <div class="col-md-6">
                        <RadzenLabel Text="Описание" />
                        <br />
                        <RadzenTextBox Name="Description" Style="width:100%" @bind-Value="dataform.Description" />
                        <br />

                    </div>
                </div>
                <div class="m-3 float-right">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Добавить"></RadzenButton>
                </div>
            </div>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenPanel>


<RadzenDataGrid @ref="Grid" AllowFiltering="true" FilterMode="FilterMode.Simple" AllowColumnResize="true" AllowPaging="true" PageSize="20" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowSorting="true" Data="@dsource" TItem="Units" ColumnWidth="200px" RowUpdate="@OnUpdateRow">
    <Columns>
        <RadzenDataGridColumn TItem="Units" Property="@nameof(Units.Id)" Visible="false" />
        <RadzenDataGridColumn TItem="Units" Property="@nameof(Units.Name)" Title="Имя">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.Name</span>
            </Template>
            <EditTemplate Context="vdata">
                <RadzenTextBox @bind-Value="vdata.Name" Name="Name" Style="width:100%" />
                <br />
                <RadzenRequiredValidator Component="Name" Text="Заполните поле" />
                <RadzenRegexValidator Component="Name" Text="Есть пробел в начале" Pattern="@(@"(^\S+[\s\S]*)+$")" />
            </EditTemplate>

        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Units" Property="@nameof(Units.Description)" Title="Описание">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.Description</span>
            </Template>
            <EditTemplate Context="vdata">
                <RadzenTextBox @bind-Value="vdata.Description" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Units" Context="dsource" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
            <Template Context="dsource">
                <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => EditRow(dsource))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="dsource">
                <RadzenButton Icon="save" Size="ButtonSize.Medium" Click="@((args) => SaveRow(dsource))">
                </RadzenButton>
                <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(dsource))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
        

        <RadzenDataGridColumn TItem="Units" Context="dsource"  Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
            <Template Context="dsource">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(args => DeleteConfirmation(dsource))">
                </RadzenButton>
            </Template>
            <EditTemplate Context="dsource">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(args => DeleteConfirmation(dsource))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>


    </Columns>

</RadzenDataGrid>


@code {
    protected override string ApiUrl { get; set; } = "api/Units";



    async Task DeleteConfirmation(Units dat) => await DialogService.OpenAsync("Подтверждение", ds =>
    @<RadzenCard Style="padding: 20px;">
        <p Style="margin-bottom: 10px;">Вы действительно хотите удалить "@dat.Name"?</p>
        <div class="row">
            <div class="col-md-8">
                <RadzenButton Text="Да" Click="args=>OkDialog(dat)" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Отмена" Click="CancelDialog" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
            </div>
        </div>
    </RadzenCard>);

}



