
@using CentreAppBlazor.Shared.Report

@attribute [Authorize(Roles = "admin")]

<RadzenDataGrid AllowFiltering="true" AllowGrouping="true" AllowColumnResize="true" AllowPaging="true" Count="Count" PageSize="20"  FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowSorting="true" Data="@dsource" TItem="ReturnReportDto" ColumnWidth="200px" FilterMode="FilterMode.Simple">
    <Columns>

        <RadzenDataGridColumn Width="200px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.Name)" Title="Имя">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.Name</span>
            </Template>
            <FooterTemplate>
                <span class="text-wrap font-weight-bold">Итого:  @dsource.Sum(x => x.ReturnCost).ToString("C0", new CultureInfo("kk-KZ")) </span>
            </FooterTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="100px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.Amount)" Title="Коль-во" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.Amount</span>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="130px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.CustomerName)" Title="Имя Клиента" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.CustomerName</span>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="130px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.ReturnCost)" Title="Сумма возврата" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.ReturnCost.ToString("C0", new CultureInfo("kk-KZ"))</span>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="130px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.RegDt)" Title="Дата рег" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.RegDt</span>
            </Template>
        </RadzenDataGridColumn>
    </Columns>

</RadzenDataGrid>


@code {
    int Count => dsource.Count;
    [Parameter]
    public bool IsResponsive { get; set; }

    [Parameter]
    public List<ReturnReportDto> dsource { get; set; }



}



