
@using CentreAppBlazor.Shared.Report

@attribute [Authorize(Roles = "admin")]

<RadzenGrid AllowFiltering="true" AllowPaging="true" Count="Count" PageSize="20" Responsive="@(!IsResponsive)" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowSorting="true" Data="@dsource" TItem="ReturnReportDto" ColumnWidth="200px">
    <Columns>

        <RadzenGridColumn Width="200px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.Name)" Title="Имя">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.Name</span>
            </Template>
            <FooterTemplate>
                <span class="text-wrap font-weight-bold">Итого:  @dsource.Sum(x => x.ReturnCost).ToString("C0", new CultureInfo("kk-KZ")) </span>
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn Width="100px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.Amount)" Title="Коль-во" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.Amount</span>
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn Width="130px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.CustomerName)" Title="Коль-во" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.CustomerName</span>
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn Width="130px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.ReturnCost)" Title="Сумма возврата" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.ReturnCost.ToString("C0", new CultureInfo("kk-KZ"))</span>
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn Width="130px" TItem="ReturnReportDto" Property="@nameof(ReturnReportDto.RegDt)" Title="Дата рег" TextAlign="TextAlign.Center">
            <Template Context="vdata">
                <span class="text-wrap">@vdata.RegDt</span>
            </Template>
        </RadzenGridColumn>
    </Columns>

</RadzenGrid>


@code {
    int Count => dsource.Count;
    [Parameter]
    public bool IsResponsive { get; set; }

    [Parameter]
    public List<ReturnReportDto> dsource { get; set; }



}



